body{
    background: rgb(255,255,255);
    color: #404040;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 300px;
    font-variant-ligatures: none;
}

#header-text h1, .links, table{
    margin: 0 auto !important;
}

.header{
    /*background-image: url("http://www.clipartsfree.net/vector/large/14260-berlin-skyline-vector.png");*/
    background-position: center center;
    /*background-color: #BFBFBF;*/
    background-size: cover;
    padding-top: 3px !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

#header-text h1{
    /* Fonts Tweaks */ 
    font-weight: 100 !important;
    font-size: 48px !important;
    font-family: 'Trirong', serif;

    /* Alignment */
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 600px !important;
    text-align: center;
    margin-top: 300px !important;
    margin-bottom: 400px !important;

    /* Background */
    background: rgb(74,217,217);
    /*opacity: 0.5;*/
    /*z-index: 0;*/

    /* Color */
    color: rgb(255,255,255);
}

h2 {
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 0.5em;
    font-family: 'Trirong', serif;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 25px;
    background: rgb(54,177,191);
    color: rgb(255,255,255);
    text-align: center;
}

ul {
    list-style-type: square;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 1em;
    margin-left: 25%;
}
p {
   /* color: #262626;*/
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
}

.focused{
  box-shadow: 0 10px 50px rgba(0, 0, 0, .08);
  transform: scale(1.05);
}
table {
    width: 50%;
    border: 1px solid #7F7F7F;
    border-collapse: collapse;
    
}

td {
    font-size: 32px;
    border: 1px solid #7F7F7F;
    border-collapse: collapse;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
}

#tbl {
    padding-bottom: 2em;
}

.num{
    letter-spacing: 0.1em;
}

.intense {
    font-weight: bold;
    letter-spacing: 0.1em;
}

.links {
    display: block;
    text-align: center;
}

.col {
    padding-left: 2em;
    padding-right: 2em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    -webkit-columns: 2 150;
    -moz-columns: 2 150px;
    columns: 2 150px;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
}
.con.start {
  opacity: 1;
  -webkit-transition : opacity 1s ease-in;
  -moz-transition    : opacity 1s ease-in;
  -ms-transition     : opacity 1s ease-in;
  -o-transition      : opacity 1s ease-in;
  transition         : opacity 1s ease-in;
}

.con {
  opacity: 0;
}

ul li {
  margin-top: 2%;
  margin-bottom: 2%;
}

.content {
  margin-top: 5%;
  margin-bottom: 25%;
}

.content {
  margin-top: 2%;
  margin-bottom: 25%;
}

ol.carousel-indicators {
  bottom: -2em !important;
}
.carousel-indicators li {
  background: rgb(255,255,255);
  border: 1px solid rgb(0,0,0);
}

.carousel-indicators .active{
  background: rgb(0,0,0); 
  border: 1px solid rgb(0,0,0);
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control {
  opacity: 0.15;
}

.carousel-control:hover{
  opacity: 0.3;
}
.carousel .item {
  height: 700px;
}

.item img {
  height: 60%;
  width: 60%;
}
